In [1]:
import pandas as pd
import numpy as np

In [2]:
stations_df = pd.read_csv('Stations.csv')
stations_df.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,None,Manhattan
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan

In [3]:
stations_df.isna().sum()

Station ID               0
Complex ID               0
GTFS Stop ID             0
Division                 0
Line                     0
Stop Name                0
Borough                  0
Daytime Routes           0
Structure                0
GTFS Latitude            0
GTFS Longitude           0
North Direction Label    0
South Direction Label    0
dtype: int64

In [4]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Station ID             496 non-null    int64
 1   Complex ID             496 non-null    int64
 2   GTFS Stop ID           496 non-null    object
 3   Division               496 non-null    object
 4   Line                   496 non-null    object
 5   Stop Name              496 non-null    object
 6   Borough                496 non-null    object
 7   Daytime Routes         496 non-null    object
 8   Structure              496 non-null    object
 9   GTFS Latitude          496 non-null    float64
 10  GTFS Longitude         496 non-null    float64
 11  North Direction Label  496 non-null    object
 12  South Direction Label  496 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 50.5+ KB

In [5]:
len(max(stations_df['Structure'].fillna('None').unique(), key=len))

10

In [6]:
stations_df.fillna('None', inplace=True)

In [7]:
stations_df.iloc[0]

Station ID                                    1
Complex ID                                    1
GTFS Stop ID                                R01
Division                                    BMT
Line                                    Astoria
Stop Name                Astoria - Ditmars Blvd
Borough                                       Q
Daytime Routes                              N W
Structure                              Elevated
GTFS Latitude                            40.775
GTFS Longitude                          -73.912
North Direction Label                      None
South Direction Label                 Manhattan
Name: 0, dtype: object

In [8]:
stations_df['Structure'].unique()

array(['Elevated', 'Subway', 'Open Cut', 'Viaduct', 'At Grade',
       'Embankment'], dtype=object)

In [9]:
stations_df.to_csv('Stations.csv', index=False)

In [10]:
stations_df = pd.read_csv('Stations.csv')

In [11]:
stations_df.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,None,Manhattan
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan

In [12]:
stations_df.nunique()

Station ID               493
Complex ID               445
GTFS Stop ID             496
Division                   4
Line                      34
Stop Name                377
Borough                    5
Daytime Routes            62
Structure                  6
GTFS Latitude            493
GTFS Longitude           493
North Direction Label     39
South Direction Label     35
dtype: int64

In [13]:
# Ugh, why would anyone duplicate a Station ID?
stations_df.groupby('Station ID').count().sort_values(by=['Complex ID'], ascending=False, axis=0).head()

,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
Station ID,,,,,,,,,,,,
461,2,2,2,2,2,2,2,2,2,2,2,2
151,2,2,2,2,2,2,2,2,2,2,2,2
167,2,2,2,2,2,2,2,2,2,2,2,2
1,1,1,1,1,1,1,1,1,1,1,1,1
328,1,1,1,1,1,1,1,1,1,1,1,1

In [14]:
stations_df.query("`Station ID`==461" )

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
461,461,461,718,IRT,Flushing,Queensboro Plaza,Q,7,Elevated,40.750582,-73.940202,Astoria - Flushing,Manhattan
462,461,461,R09,BMT,Astoria,Queensboro Plaza,Q,N W,Elevated,40.750582,-73.940202,Astoria - Flushing,Manhattan

In [15]:
stations_df.query("`Station ID`==151" )

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
149,151,151,A12,IND,8th Av - Fulton St,145 St,M,A C,Subway,40.824783,-73.944216,Uptown & The Bronx,Downtown & Brooklyn
150,151,151,D13,IND,Concourse,145 St,M,B D,Subway,40.824783,-73.944216,Uptown & The Bronx,Downtown & Brooklyn

In [16]:
stations_df.query("`Station ID`==167" )

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
166,167,167,A32,IND,8th Av - Fulton St,W 4 St,M,A C E,Subway,40.732338,-74.000495,Uptown - Queens,Downtown & Brooklyn
167,167,167,D20,IND,6th Av - Culver,W 4 St,M,B D F M,Subway,40.732338,-74.000495,Uptown - Queens,Downtown & Brooklyn

Using GTFS Stop ID in Table